.sidebar-item-icon .icon {
    color: white !important;
}

.title-container .sidebar-item-label,
.sidebar-item-label {
    color: white !important;
}

.title-container .sidebar-item-label:hover {
    color: black !important;
}

.body-sidebar,
.body-sidebar-container {
    background-color: #1f305e !important;
}

.active-sidebar {
    background-color: #E34234 !important;
}

.item-anchor:hover {
    color: white !important;
    background-color: #E34234 !important;
    border-radius: inherit !important;
}